
#Home{
color:rgb(244, 244, 248);
margin-left: 50px;
padding-right: 20px;


}
#Settings{
    color:rgb(255, 255, 255)
}
.home{
    background-color: #228be6;

}
.log{
position: absolute;
right: 15px;
top: 0px;

}